<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Whitesquare</title>
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
  <form name="search" action="#" method="get">


  </form>


</head>
<div>
  <nav>
    <ul class="top-menu">
      <li><a href="#">File</a>
        <ul class="submenu">
          <li><a href="#">New</a></li>
          <li><a href="#">Open</a></li>
          <li><a href="#">Create copy</a></li>
        </ul>
      </li>
      <li><a href="#">Edit</a></li>

      <li><a href="format-page.html">Format</a></li>
    </ul>
  </nav>
</div>





<body>
<div class="toolbar">
<button class="back-button" title="Cancel"></button>
<button class="forward-button" title="Forward"></button>
<button class="copy-button" title="Copy"></button>
<button class="cut-button" title="Cut"></button>
<button class="paste-button" title="Paste"></button>
<button class="lock-button" title="Lock"></button>
<button class="unlock-button" title="Unlock"></button>
</div>
<div id="wrapper">
  <header></header>
  <nav></nav>
  <div id="heading"></div>
  <aside></aside>
  <section></section>
</div>
<footer></footer>
</body>


<footer>
  <div id="footer">

  </div>
</footer>

</html>
