<!DOCTYPE html>
<html>
 <head>
  <title>Электронная таблица</title>
  <meta charset="utf8"/>
  <link rel="stylesheet" type="text/css" href="/css/tablestyles.css" >
 </head>
 <body>

  <h1>Матерьяльный дизайн</h1>
  <!--
  <img src="/img/teamlogo.png" alt="Our TEAM" id = "img">
  <-->
  <div class = "null-div">
    <table><tr><td></td></tr></table>  <!-- для общности сделаем таблицей -->
  </div>
  <div class = "up-div" id = "up-div">
    <table id = "up-table"></table>
  </div>
  <!-- <div class = "great-table"> -->
  <div class = "left-div" id = "left-div">
    <table id = "left-table" width = 100%></table>
  </div>
  <div id = "main-div" class = "scroll-table">
    <table id = "main-table"></table>
  </div>

  <nav id = "context-menu" class="context-menu">
    <ul class="context-menu_items">
      <li class="context-menu_item">
        <a href="DanyaLy4schiy" class="context-menu_link" data-action="cut">
          <i class="fa fa-chechnya"></i> Вырезать
        </a>
      </li>
      <li class="context-menu_item">
        <a href="DanyaLy4schiy" class="context-menu_link" data-action="copy">
          <i class="fa fa-copy"></i> Копировать
        </a>
      </li>
      <li class="context-menu_item">
        <a href="DanyaLy4schiy" class="context-menu_link" data-action="paste">
          <i class="fa fa-paste"></i> Вставить
        </a>
      </li>
      <li class="context-menu_item">
        <a href="DanyaLy4schiy" class="context-menu_link" data-action="delete">
          <i class="fa fa-delete"></i> Удалить
        </a>
      </li>
    </ul>
  </nav>

  <nav id = "auto-complete-menu" class="auto-complete-menu">
    <ul id = "auto-complete-menu-ul" class="auto-complete-menu_items">
      <li class="auto-complete-menu_item">
        <a href="#" class="auto-complete-menu_link" data-action="azaz">
          <i class="lel"></i> lel1
        </a>
      </li>
      <li class="auto-complete-menu_item">
        <a href="#" class="auto-complete-menu_link" data-action="azaz">
          <i class="lel"></i> lel2
        </a>
      </li>
      <li class="auto-complete-menu_item">
        <a href="#" class="auto-complete-menu_link" data-action="azaz">
          <i class="kek"></i> kek1
        </a>
      </li>
      <li class="auto-complete-menu_item">
        <a href="#" class="auto-complete-menu_link" data-action="azaz">
          <i class="kek"></i> kek2
        </a>
      </li>
    </ul>
  </nav>
  <script src="/js/auto-complete.js"></script>
  <script src="/js/context_menu.js"></script>
  <script src="/js/formulas.js"></script>
  <script src="/js/table.js"></script>
  <script src="/js/index.js"></script>
 </body>
</html>
