<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>LogIn in Data!</title>
        <!-- make background picture-->
        <script src="/js/config.js" type="module"></script>
        <script src="/js/login.js"></script>
        <link rel="stylesheet" href="/css/login-style.css" type="text/css">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    
    
    <body>
        <div class="container">
            <img src="/img/whiteLogoSmall.png" id="logo"> <!-- make transparent-->

            <form id="loginform" action="" method="POST">
                <h1 id="formHead">Sign in</h1>
                <fieldset id="loginFields">
                    <label>
						<i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email" name="email" id="email">
                    </label>

                    <label>
						<i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="password" id="pswrd" >
                    </label>
                </fieldset>
                <p id="loginError"></p>
                <input type="button" value="Sign in" id="btn" onclick="ajax_auth('/login', this.form)"/>
                <!-- <input type="submit" value="Sign in" id="btn" /> -->

            </form>

            <p id="toRegister"><font color="#73738c">Don`t have an account?</font></p>
            <a href="/register" id="signup">Sign up</a>

        </div>
    </body>
    
    
</html>
