<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>LogIn in Data!</title>
        <!-- make background picture-->
        <link rel="stylesheet" href="../public/css/login-style.css" type="text/css">
    </head>
    
    
    <body>
        <div class="container">
            <img src="../public/img/whiteLogoSmall.png" id="logo"> <!-- make transparent-->

            <form id="loginform" action="" method="POST">
                <h1 id="formHead">Sign in</h1>
                <fieldset id="loginFields">
                    <label>
                        <input type="email" placeholder="Email" name="email" id="email">
                    </label>

                    <label>
                        <input type="password" placeholder="Password" name="password" id="pswrd" >
                    </label>
                </fieldset>
                <input type="submit" value="Sign in" id="btn" />

            </form>

            <p id="toRegister"><font color="#73738c">Don`t have an account?</font></p>
            <a href="register.html" id="signup">Sign up</a>

        </div>
    </body>
    
    
</html>
