<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <title>Login to todolist</title>
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <label>
        Email:
        <input type="email" name="email">
      </label>
      <label>
        Password:
        <input type="password" name="password">
      </label>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>