<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Register in Data</title>
        <!-- make background picture-->
        <link rel="stylesheet" href="css/register-style.css" type="text/css">
    </head>
    
    
    <body>
        <div class="container">
            
            <img src="img/whiteLogoSmall.png" id="logo">
            
            <form id="regform" action="" method="POST">
                <h1 id="regHead">Create an account</h1>
                <p class="textfields">First name</p>
                <input type="text" id="first_name" name="first_name">
                <p class="textfields">Last name</p>
                <input type="text" id="last_name" name="last_name">
                <p class="textfields">Organisation</p>
                <input type="text" id="org" name="org">
                <p id="emailtext" class="textfields">Email</p>
                <input type="text" id="email" name="email">
                <p id="passwordltext" class="textfields">Create a password</p>
                <input type="password" id="password" name="password">   <br>
                <input type="button" value="Sign up" id="btn"/>
            </form>
            
            <p id="p1"><font color="#73738c">Already have an account?</font></p>
            <a href="login.html" id="signup">Sign in</a> 
        </div>
    </body>


</html>
