<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Register in Data</title>
        <!-- make background picture-->
        <link rel="stylesheet" href="/css/register-style.css" type="text/css">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    
    
    <body>
        <div class="container">
            
            <img src="/img/whiteLogoSmall.png" id="logo">
            
            <form id="regform" action="" method="POST">
                    <h1 id="regHead">Create an account</h1>
                <label>
                    <p class="textfields" id="firstP">First name</p>
                    <p class="textfields" id="lastP">Last name</p>
                    <input type="text" placeholder="Sergey" id="first_name" name="first_name">
                    <i class="fas fa-user" id="fn_icon"></i>
                    <i class="fas fa-user" id="ln_icon"></i>
                    <input type="text" placeholder="Priyma" id="last_name" name="last_name">
                </label>
                
                <label>
                    <p class="textfields">Organisation</p>
                    <i class="fas fa-building" id="org_icon"></i>
                    <input type="text" placeholder="BMSTU" id="org" name="org" class="inputs">
                </label>
                
                <label>
                    <p id="emailtext" class="textfields">Email</p>
                    <i class="fas fa-envelope" id="email_icon"></i>
                    <input type="text" placeholder="vampir666@bmstu.ru" id="email" name="email" class="inputs">
                </label>
                
                <label>
                    <p id="passwordltext" class="textfields">Password</p>
                    <i class="fas fa-lock" id="pass_icon"></i>
                    <input type="password" placeholder="Create a password" id="password" name="password" class="inputs"><br>
                </label>
                
                    <input type="button" value="Sign up" id="btn"/>
            </form>
            
            <p id="toLogin"><font color="#73738c">Already have an account?</font></p>
            <a href="login.html" id="signup">Sign in</a> 
        </div>
    </body>


</html>
