body {
    height: 100%;
    left: calc(50% - 205px);
    top: calc(50% - 200px);
    position: fixed;
    width: auto;
    height: auto;
/*    background-color: aliceblue;*/
/*    background-color: */
    background-size: cover;
    -webkit-filter: blur(0px);
}

input {
    color: #666666
}

#logo {
    height: 85px;
}


#formHead {
    font-family: 'Roboto', serif;
    text-shadow: grey 0px 0px 2px;
    font-size: 23px;
    margin: 25px 0 5px 30px;
    font-weight: lighter;
    font-variant: inherit;
}


#loginform {
    margin: 0;
    height: 240px;
    width: 403px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    background-color: #ebebeb;
    -webkit-filter: blur(0px);
}

#email, #pswrd {
    display: block;
    margin-left: 15px;
    padding: 7px;
    height: 23px;
    width: 314px;
    border-radius: 6px;
	padding-left: 27px;
    transition: top 0.3s ease-out;
    background-color: #ffffff
}

#email {
    border: 1px transparent;
}

#pswrd {
    margin-top: 15px;
    border: 0.5px transparent;
}

#email:focus, #pswrd:focus {
    outline: none;
    box-shadow: inset 0 0 7px #6bc961;
    /*border: 1px solid; /*various*/
    /*border-color:#6bc961;*/
}

::-webkit-input-placeholder {
    font-family: Roboto; font-size: 16px; color: #666666;
}
::-moz-placeholder {
    font-family: Roboto; font-size: 16px; color: #666666;
}
:-ms-input-placeholder { 
    font-family: Roboto; font-size: 16px; color: #666666;
}
:-moz-placeholder { 
    font-family: Roboto; font-size: 16px; color: #666666;
}

#btn {
    font-family: 'Roboto', sans-serif;
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    padding: 7px;
    margin-left: 28px;
    height: 35px;
    width: 346px;
    background: #d6d6d6;
    border: 0;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    transition: top 0.2s ease-out;
    color: #666666
}


#btn:hover {
/*    color:darkorange;*/
    background: #6bc961;/*black;*/
}


#loginFields {
    border: 0;
    color: #ffffff;
}

#loginError {
    color: red;
    font-family: "Roboto", sans-serif;
    margin: 0 0 0 28px;
    font-size: 14px;
}

#toRegister {
    margin: 20px 0px 5px 10px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

#signup {
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
    font-size: 18px;
}

i.fas.fa-envelope {
	margin-left: 18px;
	color: #808080;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	text-align: center;
	margin-right: -26px;
	position: relative;
	z-index: 1;
	float: left;
}

i.fas.fa-lock {
	margin-left: 18px;
	color: #808080;
	width: 20px;
	height: 20px;
	margin-top: 25px;
	text-align: center;
	margin-right: -26px;
	position: relative;
	z-index: 1;
	float: left;
}
