body {
    height: 100%;
    left: calc(50% - 205px);
    top: calc(50% - 330px);
    position: fixed;
    width: auto;
    height: auto;
    background-size: cover;
    -webkit-filter: blur(0px);
}

input {
    color: #666666
}

#logo {
    height: 80px;
}

#regform {
    margin: 0;
    height: 480px;
    width: 403px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    background-color: #ebebeb;
    -webkit-filter: blur(0px);
}

#regHead {
    font-family: 'Roboto', serif;
    font-size: 23px;
    text-shadow: grey 0px 0px 2px;
    margin: 25px 0px 0px 35px;
    font-weight: lighter;
    font-variant: inherit;
}

#firstP, #lastP {
    display: inline-block;
}
#lastP {
    margin-left: 93px;
}


#first_name {
    margin-left: 35px;
}

#last_name {
    margin-left: 10px;
}

#first_name, #last_name {
    outline: none;
    display: inline-block;
    padding: 7px;
    height: 23px;
    width: 144px;
    border: none;
    border-radius: 6px;
    background-color: #ffffff
}

.inputs {
    outline: none;
    display: block;
    margin-left: 35px;
    padding: 7px;
    height: 23px;
    width: 314px;
    border: none;
    border-radius: 6px;
    background-color: #ffffff
}

#first_name:focus, #last_name:focus, #org:focus, #email:focus, #password:focus {
    outline: none;
    box-shadow: inset 0 0 7px #6bc961;
}

#btn {
    font-family: 'Roboto', sans-serif;
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    padding: 7px;
    margin-left: 35px;
    height: 35px;
    width: 330px;
    background: #d6d6d6;
    border: 0;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

#btn:hover {
    background: #6bc961
}


.textfields {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 35px;
    font-size: 18px;
}

#toLogin, #signup {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}