body {
    height: 100%;
    left: calc(50% - 230px);
    top: calc(50% - 310px);
    position: fixed;
    width: auto;
    height: auto;
/*    background-color: aliceblue;*/
    /*background-image: url(http://www.2fons.ru/pic/201502/1920x1080/2fons.ru-76715.jpg);*/
    background-size: cover;
    -webkit-filter: blur(0px);
}

input {
    color: #666666
}

#logo {
    height: 80px;
}

#regform {
    margin: 0;
    height: 485px;
    width: 390px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    background-color: #ebebeb;
    -webkit-filter: blur(0px);
}

#regHead {
    font-family: 'Roboto', serif;
    font-size: 23px;
    text-shadow: grey 0px 0px 2px;
    margin: 25px 0px 5px 30px;
    font-weight: lighter;
    font-variant: inherit;
}

#first, #last {
    display: inline-block;
}
#last {
    margin-left: 100px;
}


#first_name {
    outline: none;
    display: inline-block;
    margin-left: 30px;
    padding: 7px;
    height: 23px;
    width: 150px;
    border: none;
    border-radius: 6px;
}

#last_name {
    outline: none;
    display: inline-block;
    margin-left: 10px;
    padding: 7px;
    height: 23px;
    width: 150px;
    border: none;
    border-radius: 6px;
}

#org {
    outline: none;
    display: block;
    margin-left: 30px;
    padding: 7px;
    height: 23px;
    width: 314px;
    border: none;
    border-radius: 6px;
}

#password {
    display: block;
    margin-left: 30px;
    padding: 7px;
    height: 23px;
    width: 314px;
    border: none;
    border-radius: 6px;
}

#email {
    display: block;
    margin-left: 30px;
    padding: 7px;
    height: 23px;
    width: 314px;
    border: none;
    border-radius: 6px;
}

#first_name:focus, #last_name:focus, #org:focus, #email:focus, #password:focus {
    outline: none;
    box-shadow: inset 0 0 7px #6bc961;
}

#lastname {
    outline:none;
}

#email {
    outline:none;
}

#password:focus {
    outline: none;
}

#btn {
    font-family: 'Roboto', sans-serif;
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    padding: 7px;
    margin-left: 30px;
    height: 35px;
    width: 330px;
    background: #d6d6d6;
    border: 0;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-out;
}


#btn:hover {
    background: #6bc961
}


.textfields {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 18px;
}

#toLogin, #signup {
    margin-left: 10px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}