.scroll-table {
  width: -moz-calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
  width: -o-calc(100% - 40px);
  width: calc(100% - 40px);
  float: left;
  overflow: auto;
  background: white;
  height: 97%;
}

.scroll-table td {
  position: relative;
  border: 1px solid #000;
  cursor: cell;
  outline-offset: -1px;
}

.up-div{
  float: left;
  overflow: hidden;
  width: -moz-calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
  width: -o-calc(100% - 40px);
  width: calc(100% - 40px);
}

.up-div table{
  width: 100%;
}

.up-div td{
   height: 17px;
   position: relative;
   background-color: #eee;
   padding: 1px 3px;
   border: 1px solid #555;
   font-weight: bold;
   text-align: center;
}

.up {
  width: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.left-div{
  overflow: hidden;
  width: 40px;
  height: 95%;
  float: left;
  //border: 1px solid #555;
}

.left-div tr {
  border: 1px solid #555;
}

.left-div td{
   position: relative;
   background-color: #eee;
   border: 1px solid #000;
   padding: 1px 3px;
   font-weight: bold;
   text-align: left;
}

.left {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.null-div {
  float: left;
  width: 40px;
}

.null-div td {
  background-color: #eee;
  border: 1px solid #555;
  height: 23px;
  width: 100px;
}

.table{
    background-color: #fff;
    margin-left: 20px;
    /* Firefox */
    height: -moz-calc(100% - 215px);
    /* WebKit */
    height: -webkit-calc(100% - 215px);
    /* Opera */
    height: -o-calc(100% - 215px);
    /* Standard */
    height: calc(100% - 215px);
}

textarea {
    border: none;
    cursor: cell;
    background-color: #fff;
    width: 104px;
    height: 20px;
    overflow: hidden;
    resize: none;
    font-size: 14px;
    padding: 5px;
    wrap: none;
    vertical-align: top;
    //align: left;
}

textarea:focus {
    outline: none;
}



table {
    border-collapse: collapse;
}

td {
  font-size: 17px;
}

.modSymb {
    cursor: ew-resize;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 666;
    height: 100%;
    width: 3px;
    top: 0px;
    left: 105px;
}

.modVertSymb {
    cursor: ns-resize;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 666;
    height: 3px;
    width: 100%;
    top: 21px;
    left: 0px;
}
