.scroll-table {
  width: 97%;
  float: left;
  overflow: auto;
  height: 88vh;
}

.scroll-table td {
  position: relative;
  border: 1px solid #000;
  cursor: cell;
  outline-offset: -1px;
}

.left-div{
  overflow: hidden;
  width: 3%;
  height: 88vh;
  float: left;
}

.up-div{
  float: left;
  overflow: hidden;
  width: 97%;
}

.up-div table{
  width: 100%;
}

.up-div td{
   height: 18px;
   position: relative;
   background-color: #eee;
   padding: 1px 3px;
   border: 1px solid #555;
   font-weight: bold;
   text-align: center;
}

.up {
  width: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.left-div table td{
   position: relative;
   background-color: #eee;
   border: 1px solid #555;
   padding: 1px 3px;
   font-weight: bold;
   text-align: left;
}

.left {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.null-div {
  float: left;
  width: 3%;
}

.null-div td {
  background-color: #eee;
  border: 1px solid #555;
  height: 20px;
  width: 100px;
}

textarea {
    border: none;
    cursor: cell;
    background-color: #fff;
    width: 96px;
    height: 11px;
    overflow: hidden;
    resize: none;
    font-size: 14px;
    padding: 4px;
    wrap: none;
    vertical-align: top;
}

textarea:focus {
    outline: none;
}

textarea:not(:focus) {
    text-align: left;
}

table {
    border-collapse: collapse;
}

td {
  font-size: 17px;
}

.modSymb {
    cursor: ew-resize;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 666;
    height: 100%;
    width: 3px;
    top: 0px;
    left: 105px;
}

.modVertSymb {
    cursor: ns-resize;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 666;
    height: 3px;
    width: 100%;
    top: 21px;
    left: 0px;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 667;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu_items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu_item {
  display: block;
  margin-bottom: 4px;
}

.context-menu_item:last-child {
  margin-bottom: 0;
}

.context-menu_link {
  display: block;
  padding: 4px 12px;
  color: #35b729;
  text-decoration: none;
}

.context-menu_link:hover {
  color: #fff;
  background-color: #35b729;
}

.decorUp {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 666;
    height: 3px;
    width: 100%;
    left: 0px;
    top: 20px;
}

.decorLeft {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 666;
    height: 100%;
    width: 3px;
    top: 0px;
    left: 35px;
}

.main_top {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 500;
    height: 3px;
    width: 100%;
    top: 0px;
    left: 0px;
}

.main_left {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 500;
    height: 100%;
    width: 3px;
    top: 0px;
    left: 0px;
}

.main_right {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 500;
    height: 100%;
    width: 3px;
    top: 0px;
    left: 103px;
}

.main_bottom {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 500;
    height: 3px;
    width: 100%;
    top: 19px;
    left: 0px;
    background-color: #6bc961;
}
