


body {
  color: #000000;
  font: 12px Tahoma, sans-serif;
  border-top: 5px solid #7e7e7e;
  margin: 0;

}

body {
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
  background-size: 15px 15px;
  background-position: center center;
}
input[type="text"] {
  background-color: #cccccc;
  border: 1px solid #e7e7e7;
  height: 30px;
  color: black;
  padding: 0 10px;
  vertical-align: top;
}
button {
  color: #fff;
  background-color: #29c5e6;
  border: none;
  height: 32px;
  font-family: 'Oswald', sans-serif;
}
p {
  margin: 20px 0;
}


#wrapper {
  max-width: 960px;
  margin: auto;
}
header {
  padding: 20px 0;
}

form[name="search"] {
  float: right;
}

nav a {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-position: inside;
  font: 14px 'Oswald', sans-serif;
  padding: 10px;
}

.top-menu li {
  display: inline-block;
  padding: 10px 15px;
  margin: 0;
  border-bottom: 1px solid;
}

.top-menu li.active {
  background: #29c5e6;
  color: #fff;
}

.top-menu a {
  color: #000000;
}
.top-menu{
  margin-left: 20px;
}

.top-menu a:after,
.top-menu label[for="sideMenu"]:after {
  display: block;
  content: "";
  margin-top: 5px;
  height: 2px;
  width: 0%;
  background-color: #26154c;
  transition: width .3s ease-in-out;
}

.top-menu a:hover:after,
.top-menu a:focus:after,
.top-menu label[for="sideMenu"]:hover:after  {
  width: 100%;
}

ul.submenu {
  display: none;
  position: inherit;
  width: 200px;
  top: 37px;
  left: 0;
  background-color: white;
}
ul.submenu > li {
  display: block;
}
ul.submenu > li > a {
  display: block;
  color: #5c5c5c;
  background-color: white;
  text-decoration: none;
}

ul.top-menu > li:hover > ul.submenu{
  display: block;
}


ul.submenu1 {
  display: none;
  position: inherit;
  width: 200px;
  top: 37px;
  left: 0;
  background-color: white;
}
ul.submenu1 > li {
  display: block;
}
ul.submenu1 > li > a {
  display: block;
  color: #5c5c5c;
  background-color: white;
  text-decoration: none;
}

ul.top-menu > li:hover > ul.submenu1 {
  display: block;
}




.back-button{
  height: 35px;
  margin-top: 20px;
  width: 35px;
  background: url('../img/undo-variant.svg') center center / 100% 100% ;
  box-sizing: content-box;;

}

.forward-button{
  margin-top: 20px;
  height: 35px;
  width: 35px;
  background: url('../img/redo-variant.svg') center center / 100% 100% ;
  box-sizing: content-box;;

}

.copy-button{
  margin-top: 20px;
  margin-left: 30px;
  height: 35px;
  width: 35px;
  background: url('../img/copy-file.svg') center center / 100% 100% ;
  box-sizing: content-box;;

}

.cut-button{
  margin-top: 20px;
  height: 35px;
  width: 35px;
  background: url('../img/cut.svg') center center / 100% 100% ;
  box-sizing: content-box;;

}


.paste-button{
  margin-top: 20px;
  height: 35px;
  width: 35px;
  background: url('../img/clipboard-paste-button.svg') center center / 100% 100% ;
  box-sizing: content-box;;

}

.lock-button{
  margin-top: 20px;
  margin-left: 30px;
  height: 35px;
  width: 35px;
  background: url('../img/locked-padlock.svg') center center / 100% 100% ;
  box-sizing: content-box;;

}

.unlock-button{
  margin-top: 20px;
  height: 35px;
  width: 35px;
  background: url('../img/unlocked-padlock.svg') center center / 100% 100% ;
  box-sizing: content-box;;

}
.toolbar{
  margin-left: 20px;
  padding-bottom: 20px;
}















.block {
  top: 26px;
  left: 50px;
  right: 40px;
  bottom: 20px;
  display: none;
}
ul.circle {
  list-style-type:none;
  top: 284px;
  left: 98px;
}
ul {
  list-style-type:none;
  top: 273px;
  left: 114px;
}
li {
  font-size: 24px;
  display: inline;
  padding-right: 36px;
}
ul.circle li {
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #222;
  font-size: 28px;
  padding-right: 56px;
  padding-top: 24px;
  margin-right: 10px;
  display: inline;
}
a {
  text-decoration: none;
  color: #222;
  margin-right: 20px;
}
a:hover {
  color: #000;
}
a:visited {
  font-weight: bold;
}

.format {
  border: 1px solid black;
  min-height: 80vh;
  padding: 0 0 0 20px;
  display: flex;
}

.example-text{
  border		: 1.5px solid black;
  resize: none;
  width: 176px;
  height: 67px;
  margin-top: 60px;
  font-size:16px
}

.transformtext {
  min-width: 500px;
  width: 45%;
}

.alignment {
  margin-bottom: 20px;
  display: flex;

}

.font{
  display: flex;
}

.transformtext .horizontally,
.transformtext .vertical {
  margin-left: 20px;
  margin-top: 10px;
}

.format button {
  width: 25px;
  height: 25px;
}

.font-settings{
  margin-top: 10px;
}


.horizontally .left {
  background: url('../img/align-to-left.svg') center center / 100% 100% ;
  box-sizing: content-box;;
}

.horizontally .center {
  background: url('../img/align-justify.svg') center center / 100% 100% ;
  box-sizing: content-box;;
}

.horizontally .right {
  background: url('../img/align-to-right.svg') center center / 100% 100% ;
  box-sizing: content-box;;
}

.font .


.transformtext{
  color: #000000;
}

.format{
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

.alignment{
  margin-top: 60px;
  margin-left:20px;
}



.font{
  margin-top: 35px;
  margin-left:20px;
}


.format{
  background: white;
}

.font .left{
  background: url('../img/font-symbol-of-letter-a.svg') center center / 100% 100% ;
  box-sizing: content-box;;
}

.font .center{
  background: url('../img/italicize-text.svg') center center / 100% 100% ;
  box-sizing: content-box;;
}

.font .right{
  background: url('../img/font.svg') center center / 100% 100% ;
  box-sizing: content-box;;
}

.font .font-settings{
  margin-left: 20px;
}

.font-family{
  margin-left: 20px;
  margin-top: 35px;
}

.font button{
  width: 25px;
  height: 25px;
}

.font {
  color: #222222;
}

.alignment{
  color: #222222;
}






#one {
  display: block;
}
div:target {
  display: block;
}
div[id*=tab]:target {
  display: block;
}
div[id*=tab]:target ~ #tab {
  display: block;
}
div[id*=t]:target ~ #one {
  display: none;
}


.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.input-sm{
  width: 500px;
  height: 22px;
  display: inline;
  padding: 2px 10px;
  line-height:1;
}

.input-sm{
  margin-left: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background-color: #ccc;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-bottom: 3px;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-ms-expand {
  background-color: white;
  border: 0;
}
textarea.form-control {
  height: auto;
}

.example_text{
  margin-top: 40px;
  text-decoration-color: black;
}

.TopBarContainer{
  background-color: #5271ff;
}
.toMainPage{
  background: url("../img/IconMin.png") center center / 100% 100%;
  height: 24px;
  width: 24px;
  margin-top:11px;
  margin-left: 14px;
}

.toMainPageName{
  font-size: 16px;
  font-family: sans-serif;
  align-items: center;
  position: relative;

}
.font-family{
  display: flex;
}

.font-selecter{
  margin-left: 20px;
  margin-top: 10px;
}

.flexitems{
  box-shadow: 0px 3px 11px 0px #555;
}
.SocialCalc-cellsettingstoolbar{
  display: block;
  cursor: default;
}


.cancel{
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 14px;
  text-decoration-color: black;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #5271ff;
  border: 0;
  border-bottom: 2px solid #5271ff;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #5271ff;
  box-shadow: inset 0 -2px #5271ff;
  width: 55px;
  height: 22px;
}
.cancel:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.savecell{
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 14px;
  text-decoration-color: black;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #5271ff;
  border: 0;
  border-bottom: 2px solid #5271ff;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #5271ff;
  box-shadow: inset 0 -2px #5271ff;
  width: 120px;
  height: 22px;
}
.savecell:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cellsettingstoolbar{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.currint_number{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.PageName{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

h1#name {
  width: 40%;
  margin-left: 35%;
  color: white;
  font-weight: 500;
  font-size: 1.15rem;
  margin-bottom: 15px;
}

a#account{
  transition: 1s linear;
  color: white;
}
a#account:hover:after,
a#account:focus:after{
  color: #757575;
}

.table{
  margin-left: 20px;
  height: 60vh;
}

#sideMenu {
  position: relative;
  transform: rotateY(20deg);
}

input#sideMenu {
  display: none;
}

label[for="sideMenu"] {
  cursor: pointer;
}

div#sideMenu {
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -340px;
  z-index: 99;
  color: black;
  transition: .4s;
  opacity: 0;
}

input#sideMenu:checked ~ div#sidemenu {
  left: 0px;
  transform: rotateY(0);
  opacity: 1;
}



div#sideMenu ul.submenu {
  display: block;
  position: relative;
}

.top-menu label[for="sideMenu"],
.top-menu li > a {
  line-height: 1;
  margin-left: 20px;
  display: inline;
}




label[for="sideMenu"] {
  cursor: pointer;
}







#filesMenu {
  position: relative;
  transform: rotateY(20deg);
}

input#filesMenu {
  display: none;
}

label[for="filesMenu"] {
  cursor: pointer;
}

div#filesMenu {
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -340px;
  z-index: 99;
  color: black;
  transition: .4s;
  opacity: 0;
}

input#filesMenu:checked ~ div#filesMenu{
  left: 0px;
  transform: rotateY(0);
  opacity: 1;
}



div#filesMenu ul.submenu1 {
  display: block;
  position: relative;
}

.top-menu label[for="filesMenu"],
.top-menu li > a {
  line-height: 1;
  margin-left: 20px;
  display: inline;
}



.top-menu label[for="filesMenu"],
.top-menu li > a {
  line-height: 1;
  margin-left: 20px;
  display: inline;
}



